form.contact-form(action, method="POST")
    p.title Name:
    p
        input.input-element(type="text", value="", required)
    p.title Email Address:
    p
        input.input-element(type="email", value="", required)
    p.title Subject
    p
        input.input-element(type="text", value="")
    p.title Message
    p
        textarea.input-element.input-message(required)
    p
        button SUBMIT