.contact-form {
  width: 40%;
  .input-element {
    width: 100%;
    min-width: 385px;
    height: 35px;
    border: 1px solid #c9c9c9;
    border-radius: 4px;
    @include background-linear-gradient(bottom, #efefef, #fff);
    background: linear-gradient(to bottom, #efefef, #fff);
  }
  p.title {
    margin-top: 22px;
    margin-bottom: 15px;
    color: #4f4f4f;
    font-size: 13px;
    &:first-child {
      margin-top: 0;
    }
  }
  .input-message {
    height: 160px;
    resize: vertical;
  }
  p button {
    cursor: pointer;
    border-radius: 4px;
    margin-top: 15px;
    padding: 10px 25px;
    @include background-linear-gradient(bottom, #fff, #e5e5e5);
    background: linear-gradient(to bottom, #fff, #e5e5e5);
    border: 1px solid #c9c9c9;
    font-size: 12px;
    font-weight: bold;
    color: #6c6c6c;
  }
}