doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        block title
        link(rel='stylesheet', href='css/all.min.css')
        script(src='js/all.min.js')
        <!--[if lt IE 9]>
        script(src='http://html5shiv.googlecode.com/svn/trunk/html5.js')
        <![endif]-->
    body
        .wrapper
                .text-danger.text-center Hello
                .text-success.text-center from
                .text-primary.text-center bootstrap!
